/* Inter UI */
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-ui-regular.woff2") format("woff2"),
       url("../fonts/inter-ui-regular.woff") format("woff");
}
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-ui-medium.woff2") format("woff2"),
       url("../fonts/inter-ui-medium.woff") format("woff");
}
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-ui-semibold.woff2") format("woff2"),
       url("../fonts/inter-ui-semibold.woff") format("woff");
}
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-ui-bold.woff2") format("woff2"),
       url("../fonts/inter-ui-bold.woff") format("woff");
}