@import '@mergestat/blocks/styles/main.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.content-area {
  height: calc(100% - theme('height.14')); /* Nav height is h-14 */
}

/*
.Selectable {
  width: max-content;
}
.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
*/



/* TODO: Move to blocks */
.t-vertical-nav {
  display: flex;
  flex-direction: column;
}

.t-vertical-nav-item a {
  @apply px-4
         py-2.5
         text-gray-500
         hover_bg-blue-100
         hover_text-blue-600
         block
         font-medium
         rounded;
}

.t-vertical-nav-item + .t-vertical-nav-item {
  @apply mt-1.5;
}

.t-vertical-nav-item.active a {
  @apply bg-blue-100
         text-blue-600;
}

.t-link {
  @apply underline
         text-blue-600
         hover_text-blue-700;

}