@import '@mergestat/blocks/styles/main.css';

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.content-area {
  height: calc(100% - theme('height.14')); /* Nav height is h-14 */
}

/*
.Selectable {
  width: max-content;
}
.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
*/


/* TODO(emily): fix override max-h-full class in t-modal styles in blocks */
.t-modal {
  max-height: calc(100vh - 4.8rem);
}

/* TODO(emily): add button styles to blocks */
.t-nav-item > a,
.t-nav-item > button {
    @apply px-5
           border-0
           bg-transparent
           gap-3
           font-medium
           inline-flex
           items-center
           h-full
           focus_outline-none
           focus_ring-2
           ring-inset
           focus_ring-blue-500
           hover_bg-gray-600
           cursor-pointer;
}

.t-table-bordered tr:last-child td {
  @apply  border-r
          border-l
          border-b;
}

/* TODO(emily) re-add missing resizer styles to blocks */
.t-resizer {
  cursor: row-resize;
  @apply w-full;
}
