@import '@mergestat/blocks/styles/main.css';
@import '@mergestat/icons/styles/main.css';
@import './fonts.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.content-area {
  height: calc(100% - theme('height.14')); /* Nav height is h-14 */
}

.Selectable {
  width: max-content;
}
.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
